---
title: Temporal order verification
tags: ssl
---
```toc
```
## Temporal order verification 
- verify whether a sequence of input frames is in correct temporal order

## Backlinks

> - [](Learning from Video Prediction.md)
>   - [[Temporal order verification]]

_Backlinks last generated 2023-06-06 17:04:06_
