---
title: Temporal order verification
tags: ssl
---
```toc
```
## Temporal order verification 
- verify whether a sequence of input frames is in correct temporal order



